<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand"><%= link_to "Zac Willis", root_path, class: 'navbar-brand' %></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <%= nav_helper 'nav-link', 'li'%>
          <%= login_helper 'nav-link' %>
        </ul>
      </div>
  </div>
</nav>

