<h1>About Me</h1>
<p>The need for a bigger purpose and idea of a better future pushed me to pursue software development. I wanted to attain a specific skill set that people need in the world today. Becoming a software developer gave me just that. I am currently enrolled at Bottega Tech where I am learning how Ruby, Rails, HTML, CSS and Javascript. I love what I am learning and am eager to join the world of development.</p>
