<div class="app-card-container">
  <div class="card">
    <h1>About Me</h1>

    <hr>

    <div class="row">
      <div class="col-md-4">
        <%= image_tag "profile_image.jpg", width: 250, alt: "profile image", class: 'profile-img' %>
      </div>

      <div class="col-md-8">
        <p>The need for a bigger purpose and idea of a better future pushed me to pursue software development. I wanted to attain a specific skill set that people need in the world today. Becoming a software developer gave me just that. I am currently enrolled at Bottega Tech where I am learning Ruby, Rails, HTML, CSS and Javascript. I love what I am learning and am eager to join the development community.</p>
      </div>
    </div>
  </div>
</div>




