<div class="app-card-container">
  <div class="card">
    <h1>Would you like to work together?</h1>

    <hr>

    <div class="row">
      <div class="col-md-6">
        <h3>Office Address</h3>

        <p>1472 W 105 N, Orem, UT 84057</p>

        <h3>Phone</h3>

        <p><%= number_to_phone "8014009588" %></p>

        <h3>Email</h3>

        <p><a href="mailto:zwillis@relevantinc.com?subject=PortfolioContact"" "email me">Email me</a> </p>
      </div>

      <div class="col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3042.9694588488496!2d-111.73198454654468!3d40.29863707337584!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x874d9b335b0367db%3A0x517150e1db390810!2s1472+W+105+N%2C+Orem%2C+UT+84057!5e0!3m2!1sen!2sus!4v1522266265923" width="300" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>


