<div role="main" class="inner cover">
  <h1 class="cover-heading">Welcome.</h1>
  <p class="lead">Enter at your own risk. Before you is a site filled with my incredible work as a Ruby on Rails Developer.</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>


